/* =========================
   Fonts and Root Variables
   ========================= */
@font-face {
  font-family: "Regular";
  src: url("../assets/fonts/static/RedHatText-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: url("../assets/fonts/static/RedHatText-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SemiBold";
  src: url("../assets/fonts/static/RedHatText-SemiBold.ttf") format("truetype");
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --Red: hsl(14, 86%, 42%);
  --Rose-50: hsl(20, 50%, 98%);
  --Rose-100: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --Rose-400: hsl(7, 20%, 60%);
  --Rose-500: hsl(12, 20%, 44%);
  --Rose-900: hsl(14, 65%, 9%);

  /* Neutral */
  --White: hsl(0, 0%, 100%);

  /* Fonts */
  --Regular: "Regular", sans-serif;
  --Bold: "Bold", sans-serif;
  --SemiBold: "SemiBold", sans-serif;
}

/* =========================
   Global Reset & Utilities
   ========================= */
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--Regular);
  min-height: 100dvh;
  padding: 24px;
  background-color: var(--Rose-50);
}

button {
  font: inherit;
  border: none;
  line-height: 1;
  cursor: pointer;
}

img {
  display: block;
}

@media (min-width: 48em) {
  body {
    padding: 40px;
  }
}

@media (min-width: 90em) {
  body {
    padding: 88px 112px;
  }
}
