.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header {
  font-family: var(--Bold);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: var(--Rose-900);
}
